# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Java
2. C++
3. Python
4. SQL
5. R

Some of the commonly used libraries used by Data Scientists include:
1. Tensor Flow
2. NumPy
3. SciPy
4. Keras
5. SciKit-Learn
6. Pandas
7. Matplotlib

| Data Science Tools |
|------------------- |
| SAS |
| Apache Hadoop |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objectives:__
* List popular launguages for Data Science
* List popular libraries for Data Science
* List of well known Data Science Tools
* How to Provide comments in the cell

## Author
Puneet